{% extends "ControlEscolarCalendarioBundle::baseCalendarizacion.html.twig" %}
{% block cssPage %}
	{# <link rel="stylesheet" type="text/css" href="{{ asset('css/bundles-min/bootstrap-multiselect.min.css')}}"> #} <!--hector-->
{% endblock cssPage%}

{% block javascriptPage %}


{#
<!--Servicios de oferta educativa -->
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/ofertaeducativa/services/ofertaActividadService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/ofertaActividadCentroService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/centroParametrosService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/ofertaEducativaCentroService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/services/ofertaCalendarioCentroService.js') }}"></script>



<!--Servicios comunes -->
<script type="text/javascript" src="{{ asset('bundles/controlescolarplananual/js/services/actividadAcademicaService.js')   }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarplananual/js/services/actividadNoAcademicaService.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/corecore/services/centroService.js')                                 }}"></script>
<script type="text/javascript" src="{{ asset('bundles/corecore/services/equivalenciaService.js')                                 }}"></script>

<!--Controladores -->
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/eventoCtrl.js')                         }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/controllers/estadisticaCtrl.js')          }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/controllers/filtrosCtrl.js')              }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/controllers/botonesCalendarizacionCtrl.js')  }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/tituloOfertaCtrl.js')                   }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/datosInformativosCtrl.js')                   }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/modifcacionDesdeCentralCtrl.js')      }}"></script>

<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/controllers/calendarizacionCtrl.js')      }}"></script>
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/comun/controllers/datetimepickerCtrl.js')                 }}"></script>
#}
<script type="text/javascript" src="{{ asset('bundles/controlescolarcalendario/js/calendarizacion/calendarizacion-central.bundle.min.js')          }}"></script>
{% endblock javascriptPage %}

{%block title %}
    Calendarización
{% endblock title %}

{%block contentPage %}


    <!-- BEGIN MAIN CONTENT -->
    <div >
        {#}{% if (is_granted('ROLE_SOLO_LECTURA') == true)
              or is_granted('ROLE_SOLO_LECTURA_CALENDARIZACION')
              or is_granted('ROLE_SOLO_LECTURA_OFERTAEDUCATIVA')
              %}{#}
        {% if validaRuta('calendarizacion_solo_lectura_calendarizacion_en_central') == 'permitido'%}
                <h3 class         = "bg-warning text-center fomulario-solo-lectura" >Usuario solo de lectura</h3>
        {% endif %}
        {% include 'ControlEscolarCalendarioBundle:comun:modificacionDesdeCentral.html.twig'%}
        <div class="widget-fullwidth bg-gray-light row">
            <div class="col-md-3 p-0">
            <!--inicio: Barra Lateral-->
            <div class="widget bg-gray-light">
                <div class="widget-body">
                    <div class="row" >
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {% include "ControlEscolarCalendarioBundle:comun:parts/tituloOfertaEducativa.html.twig"   %}
                            {% include "ControlEscolarCalendarioBundle:calendarizacion:parts/filtros.html.twig"                 %}
                            {% include "ControlEscolarCalendarioBundle:calendarizacion:parts/botones.html.twig"  %}
                            {% include "ControlEscolarCalendarioBundle:calendarizacion:parts/estadisticas.html.twig"           %}
                            {% include "ControlEscolarCalendarioBundle:comun:parts/datePickerCalendario.html.twig"              %}
                            {% include "ControlEscolarCalendarioBundle:comun:parts/datosInformativos.html.twig" with{ tipoCalendario:'calendarizacion'} %}
                        </div>

                    </div>
                </div>
            </div>
	    <!--fin: Barra lateral-->

            </div>

            <div class="col-md-9 p-0 no-bd" ng-controller="calendarizacionCtrl" ng-init="init('{{fechaActual.fecha}}','{{fechaActual.fechaHora}}','{{fechaActual.timezoneOffset}}','{{ambiente}}')">
                <div class      = "widget bg-white"
                     ng-show    = "centroFactory.mostrarCalendario">
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="calendar"></div>
                            </div>
                        </div>
                        <section id="directives-calendar"  >
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class       = "calendar"
                                         ng-model    = "eventSources"
                                         id          = "ofertaEducativaCalendar"
                                         calendar    = "ofertaEducativaCalendar"
                                         ui-calendar = "uiConfig.calendar"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
{%endblock contentPage %}

{%block contentModals %}
    <!--inicio:eventos-->
    {% include "ControlEscolarCalendarioBundle:comun:modals/eventos.html.twig"
			with{
                    'idModal'   : "idModalEventos",
	            'tipoModal' : "modal-dialog",
	            'btnCerrar' : "true",
                    'tipoCalendario' : "calendarizacion"
	        }
    %}
    <!--fin:eventos-->
{% endblock contentModals %}
